$bgColor: #21232e;
$sectionColor: #3b3f50;
$gradColor: linear-gradient(90deg, #dda306 0%, #942f50 100%);

$primaryTextColor: #ffffff;
$secondaryTextColor: #c8d1d1;

$primaryFont: "Fresca", sans-serif;
$secondaryFont: "Source Sans Pro", sans-serif;

$imageBackground: url(../img/m-h-night.jpg);

$buttonBgColor: #e3ac00;

$supplementaryColor: #ffffff;

$fonts: (
  "Source": "Source Sans Pro",
  "Hind": "Hind",
  "Fresca": "Fresca"
);

$BgLogoTop: 0px;
$BgLogoLeft: 14px;
$SmLogoTop: 1px;
$SmLogoLeft: 4px;

$outlineColor: #ff4e33;

$cardHeaderFont: "Hind", sans-serif;

$logoFont: "Fresca", sans-serif;
$linkFont: "Source Sans Pro", sans-serif;
$bannerPseudoBottom: "Fresca", sans-serif;

$bannerHeadFont: "Hind", sans-serif;
$bannerFont: "Fresca", sans-serif;

$cardPadding: 20px;
$firstPictureWidth: 443px;
$secondPictureWidth: 430px;
$thirdPictureWidth: 473px;

$cardHeaderFontSize: 25px;

$banerBottomposition: -284px;

$bannerPseudoLeft: 123px;
$bannerPseudoBottom: 9px;
