$bgColor: #fff;
$sectionColor: #21232e;
$gradColor: linear-gradient(90deg, rgba(101, 148, 15, 1) 0%, rgba(47, 93, 208, 1) 100%);

$primaryTextColor: #2c2f3c;
$secondaryTextColor: #c0c3c4;

$primaryFont: "Hind", sans-serif;
$secondaryFont: "Source Sans Pro", sans-serif;

$imageBackground: url(../img/m-h-day.jpg);

$buttonBgColor: #699900;

$supplementaryColor: #ffffff;

$fonts: (
  "Source": "Source Sans Pro",
  "Hind": "Hind",
  "Fresca": "Fresca"
);

$BgLogoTop: -4px;
$BgLogoLeft: 14px;
$SmLogoTop: -6px;
$SmLogoLeft: 11px;

$outlineColor: #14a0c7;

$cardHeaderFont: "Source Sans Pro", sans-serif;

$logoFont: "Hind", sans-serif;
$linkFont: "Source Sans Pro", sans-serif;
$logoFontSmall: "Hind", sans-serif;

$bannerHeadFont: "Source Sans Pro", sans-serif;
$bannerFont: "Hind", sans-serif;

$cardPadding: 20px;
$firstPictureWidth: 430px;
$secondPictureWidth: 416px;
$thirdPictureWidth: 460px;

$cardHeaderFontSize: 23px;

$banerBottomposition: -281px;

$bannerPseudoLeft: 120px;
$bannerPseudoBottom: 0px;
