<ul>
  <ng-container *ngTemplateOutlet="recursiveListTmpl; 
    context:{ $implicit: topManager }">
  </ng-container>
</ul>

<ng-template #recursiveListTmpl let-list>
  <div *ngFor="let employee of list">
  <li *ngIf="employee.isManager()">
    <ul>
      {{employee.pool_name }} -
      {{employee.getSubordinatesCount()+1}}
      <ng-container *ngTemplateOutlet="recursiveListTmpl; 
        context:{ $implicit: employee.subordinates }">
      </ng-container>
    </ul>
  </li>
  </div>
</ng-template>


