@import "variables.less";

h1, h3 {
    color: @blue;
    border-bottom: 1px solid @blue;
}

.nav-item {
    &.active {
        background-color: @blue;

        .nav-link {
            color: @white;
        }
    }
}

.mixin(@bgColor) {
    color: @white;
    background-color: @bgColor;
  }

.card__item--red {
    .mixin(@red);
}

.card__item--green {
    .mixin(@green);
}

.card__item--blue {
    .mixin(@blue);
}

.card__item--orange {
    .mixin(@orange);
}

.footer--grey {
    background-color: @grey;
}

