
<div>
  <input 
    name="searchBar"
    placeholder="Search..."
    [(ngModel)]="searchString" 
  />
  
  <button 
    name="addUser"
    (click)="addUser()">
    Add new User
  </button> 

</div>

<div class="item-container" *ngIf="addUserMode">
  <div>
      <app-user-edit-form 
        (onCancelEdit)="handleUserAddCancel()"
        (onSaveEdit)="handleUserSave($event)" >
    </app-user-edit-form>
  </div>
</div>

<app-users-list [users]='userService.getUsers() | usersFilter:searchString'>
</app-users-list>