<ul>
  <ng-container *ngTemplateOutlet="recursiveListTmpl; 
  context:{ $implicit: topManager }">
  </ng-container>
</ul>

<ng-template #recursiveListTmpl let-list>
  <li *ngFor="let employee of list">
     <span [class.manager]="employee.isManager()">{{ employee.name }}</span>
    <ul *ngIf="employee.subordinates?.length > 0">
      <ng-container *ngTemplateOutlet="recursiveListTmpl; 
                    context:{ $implicit: employee.subordinates }">
      </ng-container>
    </ul>
  </li>
</ng-template>

